# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Native builds
*.hprof
android/
ios/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
coverage/

# Build
build/
*.tsbuildinfo

# Misc
*.log
